/target

# makepkg artifacts
/pkg/
/src/
*.pkg.tar.zst
*.pkg.tar.zst.sig

**/*.rs.bk
.DS_Store
.env
.log
*.log
.secrets

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# My Note Files
/MY